extends templates/base

block title
	title Contact Us - HT Online

append css
	link(rel='stylesheet', href='/css/contact.css')

block page
	#header.text-center
		img.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')
	#details.container
		.row.justify-content-around.text-center
			#study.col-md-5.block
				h2.
					<i class='fas fa-book' aria-hidden=true></i>
					Content Queries
				br
				p.
					For all study-related queries, contact:
					<br> Himaani Shah
				a(href='mailto:himaani96@gmail.com')
					button.btn.btn-primary.col-md-6(type='button')
						i.far.fa-envelope(aria-hidden=true)
						span#hs &nbsp; Email
				<br><br>
				a(href='https://wa.me/919820093845')
					button.btn.btn-primary.col-md-6(type='button')
						i.fab.fa-whatsapp(aria-hidden=true)
						span &nbsp; +91 98200 93845

			#technical.col-md-5.block
				h2.
					<i class="fas fa-desktop"></i>
					Technical Queries
				br
				p.
					For all website-related queries, contact:
					<br> Riday Shah
				a(href='mailto:ridayshah2001@gmail.com')
					button.btn.btn-primary.col-md-6(type='button')
						i.far.fa-envelope(aria-hidden=true)
						span#rs &nbsp; Email
				<br><br>
				a(href='https://discord.io/riday')
					button.btn.btn-primary.col-md-6(type='button')
						i.fab.fa-discord(aria-hidden=true)
						span &nbsp; Riday 💙#7468

		.row
			#form.block.mx-auto
				h2.text-center Contact Form
				form(action='/contact2', method='post')
					.form-row.form-group
						label(for='name') Name:*
						.input-group
							.input-group-prepend
								.input-group-text
									i.far.fa-user-circle(aria-hidden=true)
							input.form-control(
								type='text',
								placeholder='Full Name',
								name='name',
								required
							)
					br
					.form-row.form-group
						p.col-12 At least one contact method is required.*
						br
						label(for='email') Email:
						.input-group
							.input-group-prepend
								.input-group-text @
							input.form-control#email(
								type='email',
								placeholder='someone@example.com',
								name='email'
							)
						label(for='phone') Phone Number:
						.input-group
							.input-group-prepend
								.input-group-text
									i.fas.fa-phone-alt(aria-hidden=true)
							input.form-control#phone(
								type='tel',
								name='phone',
								placeholder='+91 98200 93845'
							)
					.form-row.form-group
						p Purpose of contact:*&emsp;
						.custom-control.custom-radio
							input#edu.custom-control-input(
								type='radio',
								name='purpose',
								value='Education',
								required
							)
							label.custom-control-label(for='edu')
								i.fas.fa-book(aria-hidden=true)
								span Education related.&emsp;
						.custom-control.custom-radio
							input#site.custom-control-input(
								type='radio',
								name='purpose',
								value='Website'
							)
							label.custom-control-label(for='site')
								i.fas.fa-book(aria-hidden=true)
								span Website related.
					.form-row.form-group
						label(for='message') Message*
						textarea#message.form-control(
							name='message',
							rows='2',
							placeholder='How can we help you?',
							required
						)
					.form-row.form-group
						button.btn.btn-primary.mx-auto.col-8.col-md-3(type='submit') Submit

block script-2
	script.
		$(form).on('submit', () => {
			if ($('#phone').val() === '' && $('#email').val() === '') {
				alert('Please enter either your email or your phone number!');
				return false;
			}
			if ($('#phone').val() && !$('#phone').val().match(/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/g)) {
				alert('Please enter a valid phone number!');
				return false;
			}
			return true;
		});
