extends ../templates/base

block title
	title Attendance - HT Online

append css
	link(rel='stylesheet', href='/css/instructors/attendance.css')

block page
	#header.text-center
		img.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container
		.no-gutters.block
			p.success.mx-auto.text-success #{success}
			form(action=`/instructors/${user}/attendance-month`, method='get')
				.form-row.text-center.form-group
					.col-8.col-md-4.mx-auto
						select.custom-select#student(name='student', required)
							option(selected, value=undefined) Select a student.
							each s of students
								option(value=s.username)=`➢ ${s.name}`
					.col-8.col-md-3.mx-auto
						input#currentMonth(type='hidden', value=month)
						select#newMonth.custom-select.my-2.mx-auto(name='month', required)
							each m, i in months
								if (i === 1)
									option(value=m.value, selected)=m.display
								else
									option(value=m.value)=m.display
				.form-row.text-center.form-group
					button.btn.btn-primary.mx-auto(type='submit') Mark Attendance
