extends ../templates/base

block title
	title Assignments - HT Online

append css
	link(rel='stylesheet', href='/css/users/portal.css')

block page
	#header.text-center
		img.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container
		.block
			h3.text-center Your Assignments:
			br
			if (assignments)
				ol
					each a of assignments
						li
							p <b>Assigned on:</b> #{a.date}
							p <b>Subject:</b> #{a.sub}
							p <b>Assignment:</b> #{a.desc}
							p <b>Due by:</b> #{a.due}
							if (a.link)
								p <a href=a.link>Link↗</a>
							br
			else
				p No assignments. Enjoy! 🎊🎉