extends ../templates/base

block title
	title Attendance - HT Online

append css
	link(rel='stylesheet', href='/css/users/attendance.css')

block page
	#header.text-center
		img.col-md-4(src='/imgs/logo-white.png', alt='Himaani Shah Tutorials')

	.container.block
		.col-md-6.mx-auto#form
			form#change.form-inline.my-3(action=`/users/${user}/attendance`, method='post')
				input#currentMonth(type='hidden', value=month)
				.col-6
					select#newMonth.custom-select.my-2.mx-auto(name='month', required)
						each m of months
							option(value=m)=m
				.col-6
					button.btn.btn-primary.my-2.mx-auto(type='submit') Change Month

		p.text-center Attended <b>#{present} days</b> off <b>#{present + absent}</b>.
		p.text-center Attendance Percentage: <b>#{percent}%</b>.

		table.table
			thead
				tr
					th(scope='col') S
					th(scope='col') M
					th(scope='col') T
					th(scope='col') W
					th(scope='col') T
					th(scope='col') F
					th(scope='col') S
			tbody
				each week of calendar
					tr
						each day of week
							td(class=day.status)=day.date

		#key.col-md-6.row.mx-auto.text-center
			p.col.col-md-3.bg-success.mx-auto Present
			p.col.col-md-3.bg-danger.mx-auto Absent
			p.col.col-md-3.bg-warning.mx-auto Holiday

block script-2
	script.
		$('#change').on('submit', () => {
			if ($('#newMonth').val() === $('#currentMonth').val()) {
				alert('Please select a new month!');
				return false;
			}
			return true;
		});