<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/imgs/icon2.png", type="image/x-icon")
        title=`${name} - HT Online`
        link(rel="stylesheet", href="/css/user-home.css")
    body
        h1=`Welcome ${name}.`

        #nav
            a(href=`/users/${username}/assignments`) Assignments
            a(href=`/users/${username}/attendance`) Attendance
            a(href=`/users/${username}/notes`) Notes
            a(href=`/users/${username}/syllabus`) Syllabus