html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="/imgs/icon2.png", type="image/x-icon")
		title=`${name} - HT Online`
		link(rel="stylesheet", href="/css/user-home.css")
	body
		a(href='/auth/logout') ⬅ Logout
		h1=`Welcome ${name}.`

		#nav
			a(href=`/users/${user}/assignments`) Assignments
			a(href=`/users/${user}/notes`) Notes
			a(href=`/users/${user}/attendance`) Attendance
			a(href=`/users/${user}/marks`) Marks
			a(href=`/users/${user}/syllabus`) Syllabus

		img#timetable(src=timetable, alt='Time Table')

		#today
			h2 <-- TODAY -->
			#study
				each s of study.length ? study : ['Enjoy! 🎉🎊']
					p=study.message
			#announcements
				ul
					each a of announcements
						li=a.message
						if(a.link)
							a(href=a.link) Link↗