// JS Files.
script(
	defer,
	src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js',
	integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ',
	crossorigin='anonymous'
)
script(
	defer,
	src='https://use.fontawesome.com/releases/v5.13.1/js/all.js',
	integrity='sha384-heKROmDHlJdBb+n64p+i+wLplNYUZPaZmp2HZ4J6KCqzmd33FJ8QClrOV3IdHZm5',
	crossorigin='anonymous'
)