nav#sidebar
	#dismiss(style='padding: 0.5em;')
		i.fas.fa-arrow-left

	.sidebar-header
		h3 HT Online

	ul.list-unstyled.components
		li(class= home ? 'active' : '')
			a(href='/') Home
		li(class= contact ? 'active' : '')
			a(href='/contact') Contact
		li(class= gallery ? 'active' : '')
			a(href='/gallery') Gallery
		if (!user)
			li(class= login ? 'active' : '')
				a(href='/auth/login') Login
		else
			br
			hr#section
			p &emsp;&emsp;<i class="fas fa-book-reader"></i> #{rank} Section
			li(class= profile ? 'active' : '')
				a(href=`/users/${user}`) My Profile
			li(class= assignments ? 'active' : '')
				a(href=`/users/${user}/assignments`) Assignments
			li(class= notes ? 'active' : '')
				a(href=`/users/${user}/notes`) Notes
			li(class= att ? 'active' : '')
				a(href=`/users/${user}/attendance`) Attendance
			if (syllabusExists)
				li(class= syllabus ? 'active' : '')
					a(href=`/users/${user}/syllabus`) Syllabus
			if (marksExists)
				li(class= marks ? 'active' : '')
					a(href=`/users/${user}/marks`) Marks
			li <a href='/auth/logout'>Logout</a>
		if (!home)
			br
			hr#section
			p &emsp;&emsp;<i class="fas fa-balance-scale"></i> Legal Section
			li(class= tos ? 'active' : '')
				a(href='/terms') Terms and Conditions
			li(class= privacy ? 'active' : '')
				a(href='/privacy') Privacy Policy
			li(class= disclaimer ? 'active' : '')
				a(href='/disclaimer') Disclaimer